<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>INSERT APP NAME HERE</title>
</head>

<body>
    <div id="app"></div>
    <div id="main-container"></div>
</body>

</html>
