html {
    // width: 100%;
    // height: 100%;
}

span,
button,
textarea {
    margin: 0.5em;
}

ul {
    list-style-type: none;
}

.listitem.picClicked {
    border: 2px solid green;
    padding: 3px;
}

.listitem.selected {
    border: 2px solid red;
    padding: 3px;
}

.listitem {
    margin: 1em;
    padding: 5px;
}

.singlemode {
    display: grid;
    grid-template-rows: auto 200px;
    grid-template-areas:
        'main '
        'footer ';

    .header {
        grid-area: header;
    }

    .single_view {
        grid-area: main;
        background-color: #eef;
    }

    .list_view {
        grid-area: footer;
        background-color: #efe;
        overflow-x: scroll;
        white-space: nowrap;

        li {
            display: inline-block;
        }

        .listitem {
            padding: 1px;
        }

        .listitem.highlight {
            padding: 0;
            border: 1px dashed #aaa;
        }
    }
}
